* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}

html, body {
  height: 100%;
}

.center {  
  width: 1280px;
  margin: 0 auto;
  padding: 0 3%;
}


.header {
  min-width: 1280px;
  width: 100%;
  height: 80px;
  background-color: #212343;
}

.header img {
  margin: 25px;

}

.containerBanner {
  min-width: 1280px;
  width: 100%;
  height: 557px;
  background-image: url('../images/header_bg.png');
  background-size: cover;
  background-position: center;
}

.containerBanner > .center {
  height: 100%;
  /* text-align: right; */
}

/* formulario */
.form {
  padding: 10px;
  width: 400px;
  height: calc(100% + 30px);
  float: right;
  position: relative;
  top: -15px;
  border: 7px solid #ccc;
  border-color: rgba(120,120,120,0.5);
  /* display: inline-block; */
  background-color: white;
  background-clip: padding-box;

}

.form h2 {
  margin-top: 10px;
  font-size: 25px;
  font-weight: normal;
  color: #999;
  text-align: center;
}

.inputContainer {
  margin-top: 15px;
}

.inputContainer  span, p{
  display: inline-block;
  width: 100%;
  color: #bbb;
  font-size: 17px;
  margin-top: 20px;
}


.inputContainer  input {
  font-size: 18px;
  font-weight: normal ;
  margin-top: 15px;
  width: 360px;
  height: 55px;
  border: 1px solid #ccc;
}

.form .inputSubmitContainer {
  text-align: center;
}

.inputContainer  button {  
  color: white;
  font-size: 20px;
  margin-top: 40px;
  width: 280px;
  height: 56px;
  border-radius: 4px;
  background-color: #3c428f;
  border: 0;
  cursor: pointer;
  transition: 0.4s;
}

.inputContainer  button:hover{
  background-color:  #232875;
}

.containerList {

  padding: 30px;
  margin-top: 100px;
  float: left;
  width: 519px;
  height: 270px;
  background-color: rgbA(33,35,37,0.7);
}

.containerList ul {
  list-style-position: inside;
}

.containerList ul li {
  margin-top: 18px;
  color: white;
}

.containerSection {
  padding: 40px 0;
  background-color:  rgb(228, 222, 222);
  text-align: center;
}

.containerSection h2 {
  color: #333;
  font-weight: normal;
}

.containerSection p {
  color: #333;
  margin: 15px 0;
  font-size: 20px;
  width: 698px;
  display: inline-block;
  text-align: justify;
}

.arrow {
  position: relative;
  top: 60px;
  width: 40px;
  height: 40px;
  left: 50%;
  margin-left: -20px;
  background-image: url('../images/arrow.png');
  background-size: 100% 100%;
  text-align: center;

}

.section-01 {
  /* min-width: 1280px; */
  padding: 90px 0;
}

.section-01 h2 {
  font-size: 40px;
  text-align: center;
  color: #333;
  font-weight: normal;
}

.containerSection2 {
  min-width: 1280px;
  margin-top: 40px 0;
  background-color: #ddd;
  text-align: center;
}

.containerSingle {
  float: left;
  width: 33.333%;
  padding: 30px;
}

.containerSingle img {
  width: 80px;
}

.textContainerSingle h2 {
  font-size: 22px;
  margin-top: 10px;
  color: #333;
}

.textContainerSingle p {
  display: inline-block;
  text-align: justify;
  padding: 10px 25px;
  font-size: 15px;
  color: #444;
}

.footer {
  clear: both;
  border-top: 3px solid #888;
  padding: 20px 0;
  text-align: center;
} 

.footer p {
  margin-top: 8px;
  color: #444;
}





